name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload code to PythonAnywhere
        uses: pa-automate/pythonanywhere-deploy@v1
        with:
          username: ${{ secrets.PA_USERNAME }}
          api_token: ${{ secrets.PA_API_TOKEN }}
          domain: ${{ secrets.PA_DOMAIN }}
          app_directory: ${{ secrets.PA_APP_DIR }}
          venv_path: ${{ secrets.PA_VENV }}